<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Pixguise</h2>
{% if user.email_verified %}
  <p>Hi {{ user.email }}!</p>
  <p>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'photos' %}">Photos</a>
  </p>
{% else %}
  <p>You are not logged in. Please enter your email address to receive a login token. No signup is required!</p>
  <form method="post" action="/auth/email/">
    {% csrf_token %}
    <input type="text" size="25" name="email">
    <button type="submit">Login</button>
  </form>
{% endif %}
{% endblock %}
