<!-- templates/photo.html -->
{% extends 'base.html' %}

{% block title %}Photo · {{ block.super }}{% endblock %}

{% block content %}
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <div><img src="{{ MEDIA_URL }}{{ photo.filename.url }}"/></div>
  <form method="post" action="/tag_users/">
    {% csrf_token %}
    <label>
      Only users who have an account with us can be tagged.<br>
      <input type="text" class="form-control" name="users" multiple="" placeholder="Tag users using their email addresses.">
    </label>
    <input type="hidden" name="photo_id" value={{ photo.id }}>
    <button class="btn btn-log btn-primary btn-block" type="submit">Tag Users</button>
  </form>
{% endblock %}
