<!-- templates/photo.html -->
{% extends 'base.html' %}

{% block title %}Photo · {{ block.super }}{% endblock %}

{% block content %}
  <a href="/gallery/{{ photo.albums.id }}/{{ photo.albums.archive_id.id }}">Back to Gallery</a>
  <div class="my-1">
    <img class="img-fluid rounded" src="{{ MEDIA_URL }}{{ photo.filename.url }}"/>
  </div>
  {% if message %}
    <div class="my-3 alert alert-{{alert}}" role="alert">
      {{ message|join:"<hr>" }}
    </div>
  {% endif %}
  <form method="post" action="/tag_users/">
    {% csrf_token %}
    <p>
      <input type="text" class="form-control" name="users" placeholder="Tag existing users using their email addresses." required autofocus>
    </p>
    <input type="hidden" class="form-control" name="photo_id" value={{ photo.id }}>
    <button class="btn btn-log btn-primary btn-block" type="submit">Tag Users</button>
  </form>
{% endblock %}
